@media only screen and (max-width: 959px) and (min-width: 840px) {
    .restaurants-list, #results-count-container, .filter-options {
        width: 810px
    }

    #restaurant-card {
        width: 100%
    }

    .inside .restaurant-main-content {
        width: 800px
    }

    .restaurants-list li {
        width: 49.5%
    }

    .restaurants-list li:nth-child(2n+1) {
        margin-right: 1%
    }

    .restaurants-list li:nth-child(2n+2) {
        margin-right: 0
    }
}
