@media only screen and (max-width: 719px) and (min-width: 600px) {

    .restaurants-list, .filter-options, .inside .restaurant-main-content {
        width: 576px
    }

    .card {
        width: 85%;
        margin-bottom: 24px;
    }

    .restaurant-card {
        width: 100%;
        justify-content: center;
    }

    .restaurants-list li {
        width: 48%;
        margin-bottom: 2%
    }

    .restaurants-list li:nth-child(2n+1) {
        margin-right: 2%
    }

    .restaurants-list li:nth-child(2n+2) {
        margin-right: 0
    }

    .restaurant-info {
        display: flex;
        flex-direction: column
    }

    .restaurant-hours-container, .restaurant-img-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto
    }

}
