@media only screen and (max-width: 479px) {

    nav h1 a {
        color: #fff;
        font-size: 16pt;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .restaurant-card, .restaurants-list, .filter-options {
        width: 90%;
    }

    .breadcrumb {
        margin-top: 84px;
    }

    .map-container {
        padding-top: 88px;
    }

    .main-header {
        height:88px
    }

    .inside .restaurant-main-content {
        width: 100%;
        margin-top: 170px;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 85%;
        margin-bottom: 16px;
    }

    .restaurants-list li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4%
    }

    .restaurant-info {
        display: flex;
        flex-direction: column
    }

    .restaurant-card {
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
        background-color: #fdfdfd;
        justify-content: center;
    }

    .restaurant-hours-container, .restaurant-img-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto
    }

}
